caption TODAY TO EAT
    table(id="todaysNeed", class="table")
        tr
            td Energy
            td= todaysNeed.energy
        tr
            td Protein
            td= todaysNeed.protein
        tr
            td Carbohydrates
            td= todaysNeed.carbohydrates
        tr
            td Fat
            td= todaysNeed.fat