.search { 
  grid-area: search; 
}

.left { 
  grid-area: left; 
}

.right { 
  grid-area: right; 
}

.main { 
  grid-area: main;
}

.quantity {
  resize: none;
}

.portionQuantityInput {
  width: 4em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'search left right'
    'search main main';
  grid-gap: 5px;
  background-color: #265B6A;
  padding: 5px;
}

.grid-container > div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 20px 10px 20px 10px;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 13;
  width: 100%;
}
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: rgba(38, 91, 106, 0.199);}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #265B6A;
  color: white;
}

.container {
  font-size: 11px;
  position: relative;
  text-align: center;
  color: white;
}

.container > img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 2px;
  left: 4px;
}

.flex-container {
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  background-color: #265B6A;
}